/* 어드민 왼쪽 메뉴 */
html{
	height: 100%;
}

body{
	display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
}

.admin_body{
	display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* 어드민 왼쪽 메뉴 */
.adm_left_menu{
	flex-basis: 10%;
	background-color: #a75bff;
	height: 100%;
	min-width: 220px;
}

.adm_left_menu li{
	padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.adm_left_menu li a{
	display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.adm_left_menu li:hover{
    background-color:#dab9ff;
} 

.adm_left_menu li:hover>a{
    /* color:white; */
    color: #7b7bff;
    font-weight:bold;
}

.adm_left_menu .sub{ 
    padding:5px;
    background-color:#d3acff; 
    display:block; 
    list-style: none;
    left:60px; top:20px;
} 

.adm_left_menu li:hover>.sub{ 
    display: block;
}

.adm_left_menu .active{
	background-color:#e9d5ff;
}

.adm_left_menu .active>a{
	color: #0606ff;
}

.adm_content{
	flex-basis: 90%;
	padding-left: 15px;
    padding-right: 15px;
}

/* 어드민 공통 */
/* 검색 조건 테이블 */
.admin_body .src_area table{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}

.admin_body .src_area table tr{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

.admin_body .src_area table th{
	background-color: #e6e3fc;
	padding: 10px;
}

.admin_body .src_area table th,
.admin_body .src_area table td{
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* 검색 데이터 테이블 */
.admin_body .data_list table{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}
.admin_body .data_list table tr{
	border-bottom: 1px solid #444444;
}

.admin_body .data_list table th{
	background-color: #e6e3fc;
}

.admin_body .data_list table th,
.admin_body .data_list table td{
	padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.admin_body select, 
.admin_body input{
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.admin_body input[type=checkbox]{
	width: 15px;
    height: 15px;
}

.admin_body input[type=radio]{
	width: 15px;
    height: 15px;
}

.admin_body button,
.admin_body input[type=button],
.admin_body input[type=submit]{
	width: 80px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.src_area{
	width: 100%;
	text-align: right;
}

.btn_area{
	width: 100%;
	text-align: right;
}