/* 공통 */
ul{
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

dl, dd, dt{
  margin: 0;
  padding: 0;
}

/* 공통 해더 */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
#header_login{
  display: flex;
  justify-content: end;
  margin-right: 22px;
}
#header_login div a{
  color: gray;
  font-size: 14px;
}
#header_login div span{
  color: gray;
  font-size: 14px;
}


.color_red{
  color: red;
}
.color_point{
  color: #d3a164;
}