#id input{
    width: 300px;
	height: 30px;
}
#email input{
    width: 300px;
	height: 30px;
}
#pwd input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 300px;
	height: 30px;
}
#ph input{
    width: 100px;
	height: 30px;
}
#ph #c_btn{
    width: 100px;
	height: 30px;
}
#ymd select{
    width: 100px;
	height: 30px;
}
#join_btn{
    width: 100px;
	height: 30px;
    margin-top: 30px;
    margin-left: 100px;
}