.bb{
	font-size: 44px;
	font-weight: bold;
}

#section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section .input_area h1 {
	text-align: center;
}
.section .input_area .top{
    display: flex;
    flex-direction: column;
}
.section .input_area .top_log{
	display: flex;
    justify-content: center;
}

.section .input_area .top button {
	width: 308px;
	height: 30px;
	margin: 2px;
}

.section .input_area .top input {
	font-size: 16px;
	width: 300px;
	margin: 3px;
}

.section .btn_area {
	text-align: center;
}

.section .btn_area .sns_i{
	font-size: 45px;
	font-weight: bold;
	border-top: 1px solid;
}

.section .btn_area .bottom{
	display: flex;
    flex-direction: column;
}
