.bb{
	font-size: 44px;
	font-weight: bold;
}
.cc{
	padding-top: 5px;
	padding-left: 50px;
	font-size: 30px;
	font-weight: bold;
}
.dd{
	font-size: 30px;
	font-weight: bold;
}
.ee{
	font-size: 30px;
	font-weight: bold;
}
.ff{
	font-size: 30px;
	font-weight: bold;
}
button {
	width: 308px;
	height: 30px;
	margin: 2px;
}
input {
	font-size: 16px;
	width: 300px;
	margin: 3px;
}
.a{
	padding-left: 70px;
}