#manageMain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left:0;
    width: 200px;
    background-color: #a75bff;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-weight: bold;
    float:left;
}
#manageMain li {
    padding-top : 10px;
    padding-bottom : 10px;
}
#manageMain li a {
    display: block;
    color:white;
    padding: 10px;
    text-decoration: none;
}

#manageMain li:hover{
    background-color:#dab9ff;
} 

#manageMain li:hover>a{
    color:white;
    font-weight:bold;
} 

/* .con {
    position : relative;
    left : 250px;
}

#member_btn {
    position : relative;
    padding:10px;
    float:left;
    left:425px;
    bottom:50px;
} */

/* .con{
    padding-left: 250px;
}
#member_btn{
    float: right;
} */

.member_search {
    position : relative;
    left : 250px;
}

.member_search h4 {
    position : relative;
    width:160px;
    padding:5px;
    bottom:80%;
    margin-bottom:10px;
}

table {
    position : absolute;
    float: left;
    width: 85%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

th{
    border-bottom: 1px solid #444444;
    padding: 15px;
}

#col{
    background-color: #A6A6A6;
}
#col2{
    background-color: #A6A6A6;
    position: relative;
    width: 20px;
    right: 450px;
}

/* th #2 */
th input{
    height: 20px;
    width: 250px;
}
tr select{
    position: relative;
    right: 350px;
    height: 25px;
    width: 100px;
}
#search{
    position: relative;
    right: 720px;
}
#membership_date1{
    position: relative;
    right: 271px;
}
#membership_date2{
    position: relative;
    right: 460px;
}

#btn_prod {
    position : relative;
    padding:10px;
    float:right;
    right:20px;
    bottom:50px;
}
#member_search_btn{
    /* padding:15px; */
    height: 30px;
    width: 80px;
    position : absolute;
    left: 55%;
    bottom: 550px;
}