
.top_btn input{
    height: 27px;
    width: 250px;
}
    
.top_btn i{
    font-size: 27px;
    margin: 0 3px;
}
    
#main_benner .menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 14px;
}
    
#main_benner .menu a{
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: beige;
}
    
#main_benner .menu li:hover{
    background-color: gray;
}

#content .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    font-size: 80px;
	border-top: 1px solid;
}
#content .icon_btn{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    border-bottom: 1px solid;
}
.icon_btn .a{
    position: relative;
    left: 285px;
}
.icon_btn .b{
    position: relative;
    left: 513px;
}
.icon_btn .c{
    position: relative;
    left: 777px;
}
.icon_btn .d{
    position: relative;
    left: 1080px;
}
#b_content .a{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 40px;
    border-bottom: 1px solid;
}
#b_content .b{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    border-bottom: 1px solid;
}
#b_content .b .b_money{
    padding-left: 630px;
}
#b_content .b .b_progres{
    padding-right: 25px;
}
#b_content .c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid #000;
}
#b_content img{
    width: 120px;
}