h3 {
    margin-left : 10px;
}

table {
    width: 98%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-left: 10px;
}

thead tr th {
    background-color: blueviolet;
    color:white;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

th:first-child, td:first-child {
    border-left: none;
}

.btn_qna {
    padding:10px;
    margin:auto;
    float:right;
}