.con, .search, .pro_qna {
    position : relative;
    left : 250px;
    width:20%;
    height:100%;
}

.con hr {
    position : fixed;
    float: left;
    width:85%;
}

.search, .pro_qna {
    padding : 5px;
}

table {
    position : fixed;
    float: left;
    /*left : 250px;*/
    width: 85%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-top:10px;
    margin-right:10px;
}

thead tr th {
    padding : 15px;  
}

tbody {
    text-align: center;  
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 30px;
}

th:first-child, td:first-child {
    border-left: none;
}

.pro_qna_btn {
    padding: 5px;
    width: 100px;
}

/*▽product_postscript_answer.html의 css▽*/

#pro_answer {
    position : relative;
    left : 250px;
    width:50%;
    height:100%;
}

#pro_answer .answer_box1 {
    position : fixed;
    float: left;
    width : 85%;
    padding : 10px;
    border : 1px solid #444444;
    box-sizing: border-box;
}

#pro_answer .answer_box2 {
    position : fixed;
    float: left;
    width : 85%;
    height: 60%;
    top : 17%;
    padding : 10px;
    border : 1px solid #444444;
    box-sizing: border-box;
}

#pro_save_btn {
    position : fixed;
    float: left;
    width: 8%;
    padding: 5px;
    top : 80%;
    left: 45%;
}

#pro_cancel_btn {
    position : fixed;
    float: left;
    width: 8%;
    padding: 5px;
    top : 80%;
    left: 55%;
}