.product {
    position : fixed;
    left : 250px;
}

.product select {
    position : relative;
    left : 1480px;
    width:160px;
    padding:5px;
    bottom:80%;
    margin-bottom:10px;
}

.pro_createtbl {
    position : fixed;
    float: left;
    /*left : 250px;*/
    width: 85%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.pro_createtbl thead tr th {
    padding : 15px;  
}

.pro_createtbl tbody {
    text-align: center;  
}

.pro_createtbl th, .pro_createtbl td {
    border-bottom: 1px solid #444444;
    padding: 30px;
}

.pro_createtbl th:first-child, td:first-child {
    border-left: none;
}

#btn_prod {
    position : fixed;
    padding:10px;
    left : 1800px;
    top:400px;
}

/*▽product_control_register.html의 css▽*/

#pro_register {
    position : relative;
    left : 250px;
}

.pro_n, .pro_pri, .pro_vol, .pro_del_c {
    width:250px;
}

.pro_co, .pro_size {
    width : 100px;
}

.pro_rep {
    width:1000px;
    height:250px;
}

.registertbl {
    position: absolute;
    float: left;
    text-align: left;
    border-collapse:collapse;
}

.registertbl th, .registertbl td {
    width:100px;
    padding: 8px;
    border: none;
}

.sub_registertbl {   
    width:400px;
    text-align: left;
    border-collapse:collapse;
}

.sub_registertbl select {   
    width:100px;
}

#product_save_btn, #product_cancel_btn {
    position: relative;
    float: left;
    padding: 5px;
    width: 150px;
    top : 600px;
    left : 450px;
}

#product_cancel_btn {
    left : 500px;
}