#product_menu_upperbar{
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
}

#product_menu_upperbar.visible{
	top: 0;
    opacity: 1;
}

#product_menu_upperbar.invisible{
    opacity: 0;
}

#product_menu_upperbar div{
    width: 900px;
    background-color: white;
}

/* 상품 메인 */
#product_main{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

.product_image{
    width: 350px;
    height: 350px;
    margin: 50px;
    border: 1px solid;
    text-align: center;
}

.product_image img{
	height: 100%;
}

.product_main_detail{
    margin: 50px;
}

#product_main_detail_select{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}

.product_main_detail_button_mid{
    width: 100px;
    height: 30px;
}

.product_main_detail_button_small{
    width: 30px;
    height: 30px;
}

/* 상품 정보 */
#product_detail{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

.product_detail_image{
    width: 700px;
    height: 700px;
    margin: 50px;
    border: 1px solid;
    text-align: center;
}

.product_detail_document{
    text-align: center;
}

/* 상품 리뷰 */
#product_review{
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

.product_review_box{
    margin-bottom: 30px;
    border-top: 1px solid;
}

.product_review_titlebar{
    display: flex;
}

.product_review_title{
    width: 400px;
    height: 50px;
    text-align: left;
}

.product_review_sort{
    width: 400px;
    height: 50px;
    text-align: right;
}

.product_review_detail{
    margin-top: 30px;
}

.product_review_profile{
    height: 64px;
    display: flex;
}

.product_review_profile_image{
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    border: 1px solid;
    border-radius: 50%;
}

.product_review_profile_detail{
    margin-left: 20px;
    display: table;
}

.product_review_profile_detail div{
    display: table-cell;
    vertical-align: middle;
}

.product_review_document{
    margin-left: 30px;
}

.product_review_image{
    margin-top: 10px;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid;
}

.product_review_button{
    width: 100%;
    height: 40px;
}

/* 상품 QnA */
#product_qna{
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

.product_qna_titlebar{
    display: table;
    border-bottom: 1px solid;
}

.product_qna_title{
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    height: 50px;
    text-align: left;
}

.product_qna_buttonbar{
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    height: 50px;
    text-align: right;
}

.product_qna_detail{
    width: 800px;
}

.product_qna_table_title{
    margin-top: 50px;
    width: 800px;
    height: 30px;
    border-bottom: 1px solid;
}

.product_qna_table_title ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.product_qna_table_title ul li{
    width: 25%;
    text-align: center;
}

.product_qna_table_content{
    margin-top: 30px;
    width: 800px;
    height: 30px;
}

.product_qna_table_content ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.product_qna_table_content ul li{
    width: 25%;
    text-align: center;
}

.product_qna_page{
    margin-top: 30px;
    text-align: center;
}

.product_qna_page a{
    padding-left: 10px;
    padding-right: 10px;
}

/* 상품 주문 정보 */
#product_order_detail{
    padding-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.product_order_title{
    margin-top: 30px;
    width: 800px;
}

.product_order_table{
    width: 800px;
    border: 1px solid;
    border-collapse: collapse;
}

.product_order_table_title{
    width: 25%;
    height: 40px;
    border: 1px solid;
}

.product_order_table_document{
    width: 75%;
    height: 40px;
    border: 1px solid;
}

/* 상품 메뉴 */
#product_menu{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

#product_menu div{
    width: 900px;
}

.product_menu_list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-weight:bold;
    transition: all 300ms ease-in-out;
}

.product_menu_list_upperbar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-weight:bold;
    transition: all 300ms ease-in-out;
}

.product_menu_item{
    width: 100%;
    height: 40px;
    float:left;
    list-style:none;
    display: block;
    margin:1px;
    text-align:center; padding-top:10px;
    background: #000000;
    color:white;
    cursor: pointer;
}

.product_menu_item:hover{
    background-color: #A9A9A9;
}

.product_menu_item.select{
    background-color: #A9A9A9;
}

